@font-face {
    font-family: Trebuchet;
    src: url(/Windows/Fonts/trebuc.ttf);
}

.wholepage,
.secondpage {
    background-color: #80a7b3;
}

.maindiv,
.seconddiv {
    font-family: Trebuchet;
    color: #ffffff;
}

#recipetitle {
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

ul, ol {
    text-align: center;
    list-style-position: inside;
}

li {
    
    padding: 5px;
    justify-content: center;
}