html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    line-height: 1.5;
}

body {
    font-family: Georgia, serif;
    background-color: #ffffff;
    color: #363636;
}

.header {
    text-align: center;
    margin: auto;
    width: 250px;
}

.container-list {
    text-align: center;
}

.recipe-list {
    display: table;
    text-align: left;
    margin-left: 550px;
    margin-top: 20px;
    padding-left: 50px;
    list-style-type: square;
    color: #363636;
    font-size: 20px;

    width: 250px;
}

a {
    text-decoration: none;
}